*{
    letter-spacing: 1px;
}
.textAnimation{
    animation: letter 5s linear infinite;
}
@keyframes letter {
    0%{color: greenyellow;}
    25%{color: hotpink;}
    50%{color: aquamarine;}
    75%{color: teal;}
    100%{color: lawngreen;}
}
.rounding{
    animation: 3s intro linear infinite;
}
@keyframes intro {
    0%{rotate: 360deg;}
}
.roam{
    animation:15s roam infinite linear;
}
@keyframes roam {
    0%{rotate: 360deg;}
}
.loader{
    width: 50px;
    height: 50px;
    border: 5px solid gray;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to{
        transform: rotate(350deg);
    }
}